@{
    ViewData["Title"] = "Home Page";
}
@*<email>Support</email>*@

<a href="mailto:murat.vuranok@code.eu.az">Support : <strong>Murat Vuranok</strong></a>
<br />
<email recipient="murat.vuranok" kime="Support" />
<br />
<email mail-to="murat.vuranok" to="Marketing" />
 