@await Component.InvokeAsync("Product",2)

<vc:product model="1"></vc:product>


@*<a href="/products/create">Create</a>
<a asp-action="create" asp-controller="categories" asp-route-categoryId="1">Create</a>*@
@*@Html.ActionLink("Create","Create","Categories",new{categoryId = 1})*@


